<% employee = Employee.find_by(id: session[:employee_id]) %>
<% school = School.find_by(name: employee.name) %> 

<div>
  <div class="col-md-4 offset-md-4">
  <h2 class="text-center"><%= school.schoolname %>高等学校</h2>
  
  <%= form_tag("/testkai/create") do %>
    <div class="form-group">
      
      <div class="pull-down">  
        <label>チーフ</label>
        <p>
          <%= select_tag :chief, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>
          <!-- <input name="chief" class="form-control" value="<%= school.chief %>" > -->
        </p>
      </div>
      
      <div class="pull-down">
        <label>学生警備</label>
        <p>
          <%= select_tag :security, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>    
          <!-- <input name="security" class="form-control" value="<%= school.security %>" > -->
        </p>
      </div>
      
      <div class="pull-down">
        <label>本部員</label>
        <p>
          <%= select_tag :staff, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>   
          <!-- <input name="staff" class="form-control" value="<%= school.staff %>" > -->
        </p>
      </div>          
      
      <div class="pull-down">
        <label>監督</label>
        <p>
          <%= select_tag :supervision, options_for_select((0..99).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>   
          <!-- <input name="supervision" class="form-control" value="<%= school.supervision %>" > -->
        </p>
      </div>
    
      
      
    <div class="text-center submit-btn">
      <p><input type="submit" class="btn btn-primary" value="送信"></p>
    </div> 
  <% end %>
  
  </div>
</div>