
<% @testkai.each do |test| %>
  <h2 class="mb-5"><%="#{test.year}年#{test.month}月#{test.day}日 第#{test.kai}回" %></h2>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table ">
    <thead class="thead-light">
        <tr><th class="for-responsible">学校名</th>
        <th class="for-responsible">チーフ</th>
        <th class="for-responsible">学生警備</th>
        <th class="for-responsible">本部員</th>
        <th class="for-responsible">監督</th></tr>
    </thead>

    <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.schoolname %></td>
        <td><%= school.chief %></td>
        <td><%= school.security %></td>
        <td><%= school.staff %></td>
        <td><%= school.supervision %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4"><%= school.content %></td>
      </tr>
<tr>
    <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    </table>
  </div>
</div>

  <div>
    <%= link_to "CSV出力", testkai_start_index_path(format: :csv), class:"btn btn-outline-dark btn-sm" %>
  </div>
  
  <div class="fixed-top mr-3" style="left:initial;">
      <%= link_to("ログアウト", "/logout", {method: :post}) %> 
    </div>
