<% employee = Employee.find_by(id: session[:employee_id]) %>
<% school = School.find_by(name: employee.name) %> 

<div class="container">
<div class="col-md-4 offset-md-4 schoolname">
  <h2><%= school.schoolname %>高等学校</h2>


  <%= form_tag("/testkai_start/create") do %>
    <div class="form-row">

      <div class="form-group col-3">  
        <label>チーフ</label>
        
          <%= select_tag :chief, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>
          <!-- <input name="chief" class="form-control" value="<%= school.chief %>" > -->
        
      </div>
      
      <div class="form-group col-3">
        <label>学生警備</label>
        
          <%= select_tag :security, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>    
          <!-- <input name="security" class="form-control" value="<%= school.security %>" > -->
        
      </div>
      
      <div class="form-group col-3">
        <label>本部員</label>
        
          <%= select_tag :staff, options_for_select((0..20).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>   
          <!-- <input name="staff" class="form-control" value="<%= school.staff %>" > -->
        
      </div>          
      
      <div class="form-group col-3">
        <label>監督</label>
        
          <%= select_tag :supervision, options_for_select((0..99).to_a),class:"btn btn-outline-dark dropdown-toggle"  %>   
          <!-- <input name="supervision" class="form-control" value="<%= school.supervision %>" > -->
        
      </div>
    </div>
    
    
      <div class="form-group">
        <label>コメント</label>
        <textarea name="content" class="form-control"  value="<%= school.content %>" ></textarea>
      </div>
    
        
    <div class="submit-btn">
      <input type="submit" class="btn btn-primary" value="送信">
    </div> 
        
    <div class="index-btn">
      <%= link_to "開始報告一覧", testkai_start_index_path %>
    </div>
  <% end %>
<div>
<div>  
