<h1><%= t('.sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :名前 %>
    <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: '50字以内'%>
  </div>

  <div class="form-group">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autocomplete: 'email', class: 'form-control' ,placeholder: 'user@example.com(50字以内)' %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: '半角英数6~50字以内' %>

  <% if false %>--------------------------
    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  --------------------------------<% end %>
  </div>

  <div class="form-group">
    <%= f.label :確認用パスワード %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', placeholder: '上記と同じパスワード' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
