
<div class="container">
  <h2 class="mt-3 mb-3 text-center" ><%= @movie.title %></h2>

  
  <div class="text-center">
    <div class="border-top border-bottom border-dark " style="padding:10px;">
    <%= video_tag @movie.url, autoplay: false, 
    width:"60%", height:"60%", controls: true,  loop: false, autobuffer: true %>
    </div>
  
  <p>
  </p>
  
    <!--
    <div class="embed-responsive embed-responsive-16by9">
    <iframe src="<%= @movie.url %>" frameborder="0"  allowfullscreen="no"></iframe>
    </div>
    -->
    <% @movie.tag_list.add(@movie.tag_name.split(","))%>
    <p>
    <%= render 'movies/tag_list_for_show', tag_list: @movie.tag_list %>
    </p>
    <%= link_to("一覧に戻る", movies_path, class:"btn btn-outline-primary btn-sm") %>
  </div>
</div>



