
<h3>テスト会の会場だYo</h3>
<div id='map'></div>

<style>
  #map{ 
    height: 400px; 
    
  }
</style>

<script>
var center ={
  lat: 34.703, // 会社近くの緯度
  lng: 135.568// 会社近くの経度
}; 
  
var infoWindow = []; // 情報ウインドウを複数表示させたいので、配列化
var marker =[];

var school_id =[];
var school_name =[];
var school_lat =[];
var school_lng =[];
let schoolData = gon.schools;

let address_lat;
let address_lng;

var directionsService = new google.maps.DirectionsService();
var directionsDisplay;


function initMap(){
  var directions; //ルートのインスタンス
  var geocoder = new google.maps.Geocoder();
  
  directions = new google.maps.DirectionsService();
  
  var map = new google.maps.Map(document.getElementById('map'), { // #mapに地図を埋め込む
    center: center, // 地図の中心を指定
    zoom: 10, // 地図のズームを指定
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  
  var i=0;
  <% @schools.each do |school| %>
    school_name[i] ='<%= school.schoolname %>';
    school_lat[i] =<%= school.latitude %>;
    school_lng[i] =<%= school.longitude %>;
    var id =<%= school.id %>;  

  
    // マーカーの追加
    marker[i] = new google.maps.Marker({ 
      position: {lat: school_lat[i] , lng: school_lng[i] },// マーカーの位置
      map: map // マーカーを立てる地図を指定
    });
    
    
    // 各地点の情報ウインドウを作成
    infoWindow[i] = new google.maps.InfoWindow({
      // 内容
      position: {lat: school_lat[i] , lng: school_lng[i] },
      //content: school_name[i]+'</br>'+`<button class="btn btn-primary btn-sm" id="go-station${i}">ここに行く</button>` //`(バッククオテーション)
      content: `<a href='/school/${ id }'>${ school_name[i] }</a>`
    });
  
    infoWindow[i].open(map);
    //情報ウインドウのボタンイベントができるよう追加
   
      infoWindow[i].addListener('domready', () => {
        
          document.getElementById("go-station0").addEventListener('click', () => {
          goStation(school_name,school_lat,school_lng, 0);  
          });
          
        document.getElementById(`go-station1`).addEventListener('click', () => {
          goStation(school_name,school_lat,school_lng, 1);
        }); 
        
      }); //addListerner
  
    
    
    markerEvent(i); // マーカーにクリックイベントを追加
    
    i=i+1;
  <% end %>////////////////////////////////////
  
  
  
  
  function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 情報ウインドウ
    });
  }//markerEvant
  
  function goStation(name, lat, lng, number) {
    // ここにボタンクリック時のイベント
    target = document.getElementById("output");
    //target.innerHTML =document.getElementById("go-station").value;
    //target.innerHTML = name[number]; //学校名表示
    target.placeholder = name[number]; //学校名表示
    
    //document.getElementById("output_lat").value = lat[number];
    //document.getElementById("output_lng").value = lng[number];
    address_lat = lat[number];
    address_lng = lng[number];

  }//goStation
   
  //「ルートを探す」をクリックしたとき
  document.getElementById("btn").onclick = function() {
   //getRoute();
    var address = document.getElementById("address").value;
    //var address_lat = document.getElementById("output_lat").value;
    //var address_lng = document.getElementById("output_lng").value;
    
   
    geocoder.geocode({ address: address }, function(results, status){
      if (status === 'OK' && results[0]){

       // var marker = new google.maps.Marker({
        //position: results[0].geometry.location,
        // map: map
       // });

        var request = {
            origin: results[0].geometry.location,
            //destination: {lat:34.7081431,lng: 135.6454219},
            destination: new google.maps.LatLng(address_lat, address_lng),
            travelMode: google.maps.TravelMode.WALKING
          };

        new google.maps.DirectionsService().route(request, function(response, status) {
          new google.maps.DirectionsRenderer({
            map:map,
            directions: response
          })
        }); //new google.maps.DirectionsService

      }else{ 
        //住所が存在しない場合の処理
        alert('住所が正しくないか存在しません。');
      }//if
      
    }
    )//geocoder.geocode
    
  }//document.getElementById
}///initMap


</script>



<div class="form-group">
    <div>出発地</div>
    <div>  
      <input class="form-control" type="text" id="address" placeholder='住所を入力'>
    </div>
  <div>目的地</div>
  <div>  
      <input class="form-control" type="text" id="output" placeholder='「ここに行く」をクリック' readonly>
    </div>
  <div>
    <input type="button" class="btn btn-primary btn-sm" id="btn" value="ルートを表示">
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>




