<script>
var center ={
  lat: 34.703, // 会社近くの緯度
  lng: 135.568// 会社近くの経度
}; 
  
var infoWindow = []; // 情報ウインドウを複数表示させたいので、配列化
var marker =[];
var map;

var geocoder;
var directions; //ルートのインスタンス

//var school_id =[];
var school_name =[];
var school_lat =[];
var school_lng =[];
var school_max_seats=[]; //最大席数
var school_left_seats=[]; //残り少ない席数のしきい値

let schoolData = gon.schools;
var address_lat;
var address_lng;
var school_flag;


//var directionsService = new google.maps.DirectionsService();

//var directionsDisplay;
var direct;
 
function initMap(){
  geocoder = new google.maps.Geocoder();
  directions = new google.maps.DirectionsService();
  school_flag=0;
  
  
  map = new google.maps.Map(document.getElementById('map'), { // #mapに地図を埋め込む
    center: center, // 地図の中心を指定
    zoom: 10, // 地図のズームを指定
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  //くり返しでマーカーと情報ウインドウを複数表示
  var i=0;
  var icon;
  var label;
  
  <% @schools.each do |school| %>
    school_name[i] ='<%= school.schoolname %>';
    school_lat[i] =<%= school.latitude %>;
    school_lng[i] =<%= school.longitude %>;
    school_max_seats[i] =<%= school.max_num_seats %>;
    school_left_seats[i]=<%= school.little_left_seats %>;
  
  
  var icon0={  
      	fillColor: "#0000FF",                //塗り潰し色
      	fillOpacity: 0.8,                    //塗り潰し透過率
      	path: google.maps.SymbolPath.CIRCLE, //円を指定
      	scale: 10,                           //円のサイズ
      	strokeColor: "#0000FF",              //枠の色
      	strokeWeight: 1.0                    //枠の透過率
  };  
  var label0={    
    text: '○',                           //ラベル文字
		color: '#FFFFFF',                    //文字の色
		fontSize: '20px' 
  };
  
  var icon1={  
      	fillColor: "#008000",                //塗り潰し色
      	fillOpacity: 0.8,                    //塗り潰し透過率
      	path: google.maps.SymbolPath.CIRCLE, //円を指定
      	scale: 10,                           //円のサイズ
      	strokeColor: "#008000",              //枠の色
      	strokeWeight: 1.0                    //枠の透過率
  };  
  var label1={    
    text: '△',                           //ラベル文字
		color: '#FFFFFF',                    //文字の色
		fontSize: '18px' 
  };  
 
 var icon2={  
      	fillColor: "#FF0000",                //塗り潰し色
      	fillOpacity: 0.8,                    //塗り潰し透過率
      	path: google.maps.SymbolPath.CIRCLE, //円を指定
      	scale: 10,                           //円のサイズ
      	strokeColor: "#FF0000",              //枠の色
      	strokeWeight: 1.0                    //枠の透過率
  };  
  var label2={    
    text: '×',                           //ラベル文字
		color: '#FFFFFF',                    //文字の色
		fontSize: '20px' 
  };   
  
  
  
  
    if ( school_max_seats[i] < school_left_seats[i]){ 
	    icon =icon1;
	    label =label1;
    }else{
      icon =icon0;
	    label =label0;
    }
    
    
    // マーカーの表示
    marker[i] = new google.maps.Marker({ 
      position: {lat: school_lat[i] , lng: school_lng[i] },// マーカーの位置
      map: map, // マーカーを立てる地図を指定
      icon: icon,
      label: label
    });
    
    // 情報ウインドウの表示
    infoWindow[i] = new google.maps.InfoWindow({
      // 内容
      position: {lat: school_lat[i] , lng: school_lng[i] },
      //content: school_name[i]+'</br>'+`<button class="btn btn-primary btn-sm" id="go-station${i}">ここに行く</button>` //`(バッククオテーション)
      content: `<a href="javascript:goStation(school_name, school_lat, school_lng, ${i});">${ school_name[i] },${ school_max_seats[i] }</a>`,
      pixelOffset: new google.maps.Size(10, -6)
      
    });
    infoWindow[i].open(map); //情報ウインドウをオープン
    
    markerEvent(i); // マーカーにクリックイベントを追加
    i=i+1;
  <% end %>////////////////////////////////////
}///initMap  
 
  function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[i].open(map, marker[i]); // 情報ウインドウ
    });
  }//markerEvant
  
  function goStation(name, lat, lng, number) {
    // ここにボタンクリック時のイベント
    target = document.getElementById("output");
    target.placeholder = name[number]; //学校名表示
    
    
    address_lat = lat[number];
    address_lng = lng[number];
   
    document.getElementById('infobox').textContent = "目的地に"+name[number]+"が選ばれたyo";
    $('.infobox').fadeIn();
    $('.infobox').fadeOut(2000);
    school_flag=1;
    
  }//goStation
 
   
  //「ルートを探す」をクリックしたとき
  function search(){
    var address = document.getElementById("address").value;
    
    geocoder.geocode({ address: address }, function(results, status){
      
      if (status === 'OK' && results[0]){
        var request = {
          origin: results[0].geometry.location,
          destination: new google.maps.LatLng(address_lat, address_lng),
          travelMode: google.maps.TravelMode.WALKING
        };
        
        new google.maps.DirectionsService().route(request, function(response, status) {
        //directions.route(request, function(response, status) {
          directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: true,
            map:map,
            directions: response
          })
          /* 右カラムにルート表示 */  
        directionsDisplay.setPanel(document.getElementById("directions_panel")); 
        
        document.getElementById("btn2").style.display="block";
          
        }); //new google.maps.DirectionsService
      }else{ 
        if(document.getElementById('address').textContent == "" && school_flag==1){ 
            document.getElementById('alertbox').textContent ="住所が入力されてません";
            $('.alertbox').fadeIn();
            $('.alertbox').fadeOut(3000);
          }else if(document.getElementById('address').textContent == "" && school_flag==0){  
            document.getElementById('alertbox').textContent ="住所が入力されてません。学校が選ばれていません";
            $('.alertbox').fadeIn();
            $('.alertbox').fadeOut(3000);
          } 
      }//if
      
    })//geocoder.geocode
    
  //}//document.getElementById
  directionsDisplay.setMap(null);
  directionsDisplay.setPanel(null);
}  

  
function clearRoute() {
  directionsDisplay.setMap(null);
  directionsDisplay.setPanel(null);
  document.bottomcolumn.reset();
  
  //alert("6b:school_flag:"+school_flag);
  target = document.getElementById("output");
  target.placeholder = '学校名をクリックしてyo'; 
  
  document.getElementById("btn2").style.display="none";
  school_flag=0;
}
</script>

<h3>テスト会の会場だYo</h3>
<body>
  
  <div class="infobox" id="infobox"></div>
  <div class="alertbox" id="alertbox"></div>
  
  <div class="top-column">  
    <div id='map' style="height: 280px;">
    </div>
  </div>
  
  <%= form_with model:@school, local:true do |f|%>
    <div class="form-group">
      <%= f.collection_select :school_id, School.all, :id, :schoolname ,:prompt => "会場名" %>
    </div>
    <div class="form-group">
      <%= select_tag :number, options_for_select((1..10).to_a),:prompt => "発券数" %>
    </div>
    <div class="text-center">
      <%= f.submit "送信" , class:"btn btn-primary" %>
    </div>
    
  <% end %>

<!--
    <div class="form-group">
      <div>出発地</div>
      <div>  
        <input class="form-control" type="text" id="address" placeholder='住所を入力してyo'>
      </div>
      <div>目的地</div>
      <div>  
        <input class="form-control" type="text" id="output" placeholder='学校名をクリックしてyo' readonly>
      </div>
      <div class="buttons">
        <div class="button1"><input type="button" class="btn btn-outline-primary btn-sm" id="btn" onclick="search()" value="ルートを表示"></div>
        <div class="button2" id="btn2"><input type="button" class="btn btn-outline-primary btn-sm" onclick="clearRoute()" value="クリア"></div>
        
      </div>
    </div>
    <div id="directions_panel"></div> 
  
-->  
  </form>


</body>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>

