<div class="row">
  <aside class="col-md-3">
    <h3>
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url , class: "icon" %>
      <% else %>
        <%= image_tag "default.png" , class: "icon"%>
      <% end %>
      <%= @user.username %>
    </h3>
  </aside>

  <div class="col-md-6">
    <% @movies.each do |movie| %>
      <div class="box2">
        <div class="movie-title">
          <span class="fa fa-film" style="color:red;"></span>
            <%= link_to movie.title, controller: :mogisupple, action: :show, id: movie.id , :style=>"color:#000000;" %>
            <!-- mogisupple#showにリンクするように設定-->
        </div>
        
        <% if Watched.find_by(user_id: @user.id, movie_id: movie.id) %>
         watched
        <% end %>
        
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        
        <% movie.tag_list.each do |tag| %>
          <%= link_to tag, user_path(@user.id, search_tag: tag), class: "btn btn-outline-primary btn-sm" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to("動画一覧に戻る", user_path(@user.id), class:"btn btn-outline-primary btn-sm") %>
  </div>


  <div class="col-md-3">
    <div id="calendar"></div>
    <!-- もしユーザーがログインしていたら -->
    <% if @user.id == current_user.id %>
      <%= month_calendar schedules: @schedules do |date, schedules| %>
        <%= date.day %>

          <% schedules.each do |schedule| %>
            <div>
              <%= schedule.price %>
            </div>
          <% end %>
      <% end %>
    <% end %>  
  </div>
</div>
