<!--rowクラスで、ユーザー情報と動画一覧とカレンダーを並列に表示-->

<div class="row">
  <!--ユーザーの写真と名前を表示-->
  <aside class="col-md-3">
    <h3>
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url , class: "icon" %>
      <% else %>
        <%= image_tag "default.png" , class: "icon"%>
      <% end %>
      <%= @user.username %>
    </h3>
      
  </aside>

  <!--動画一覧を表示-->
  <div class="col-md-6">
    <% @movies.each do |movie| %>
      <div class="box2">
        <div class="movie-title">
          <!--映画のアイコン-->
          <i class="fa fa-film" style="color:red;"></i> 
          <%= movie.title %>
          
        </div>
        
        <% if false %>-------------------
        <!--チェックマークの表示-->  
        <% if Watched.find_by(user_id: @user.id, movie_id: movie.id) %>
         <i class="fa fa-check"></i>
        <% else %> 
          <i class="fa fa-check" style="color:#E6E6E6";></i>
        <% end %>
        <%= Watched.where(user_id: @user.id, movie_id: movie.id).count %>
        -----------<% end %>
        
        <!--タグ-->
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        <% movie.tag_list.each do |tag| %>
          <%= link_to tag, user_path(@user.id, search_tag: tag), class: "btn btn-outline-primary btn-sm" %>
        <% end %>
        
        <div class="row">
          <div class="col-md-6">
            <div class="view-left">
              <% watched_count = Watched.where(user_id: @user.id, movie_id: movie.id).count %>
              <%= "#{watched_count}view".pluralize(watched_count) %> 
            </div>
          </div>
          
          <div class="col-md-6">
            <!-- リンク mogisupple#showへ設定、中かっこで囲まないとbootstrapが実行されない-->  
            <div class="button-right">
              <%= link_to "動画を観る", {controller: :mogisupple, action: :show, id: movie.id}, class: "btn btn-light" %>
            </div>
          </div>
        </div>
        
      </div>
    <% end %>
    <%= link_to("動画一覧に戻る", user_path(@user.id), class:"btn btn-primary btn-sm") %>
  </div>

  <!--カレンダーを表示-->
  <div class="col-md-3">
    <div id="calendar"></div>
    <!-- もしユーザーがログインしていたら -->
    <% if @user.id == current_user.id %>
      <%= month_calendar(schedules: @schedules) do |date, schedules| %>
        <!-- 日だけ表示-->
        <%= date.day %>
          <!-- スケジュールの表示-->
          <% schedules.each do |schedule| %>
            <div>
              <%= schedule.place %>
            </div>
          <% end %>
      <% end %>
    <% end %>  
  </div>
</div>
