<ul class="tabnav">
  <li><a href="#tab01">もぎサプリ</a></li>
  <li><a href="#tab02">スライドサプリ</a></li>
</ul>

<div class="tabcontent">
  <div id="tab01">
    <% @movies.each do |movie| %>
    
      <div class="box2">
        <div class="movie-title">
          <span class="fa fa-film" style="color:red;"></span>
            <%= link_to movie.title, "home/#{movie.id}" , :style=>"color:#000000;" %>
        </div>
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        <%= render 'home/tag_list', tag_list: movie.tag_list %>
      </div>  
    <% end %>
  </div>
  
  <div id="tab02">
    <% @slides.each do |slide| %>
    <div class="box">
      <div class="slide-title">
       <%= link_to(slide.title, "/slide/#{slide.id}" , :style=>"color:#000000;") %>
      </div>
      
      
      <div>
        <%= link_to image_tag( slide.image.split(",").first ), "/home/#{slide.id}"  %>
      </div>
      
      
      
      <% slide.tag_list.add(slide.tag_name.split(","))%>
      <%= render 'slide/tag_list', tag_list: slide.tag_list %>
    </div>
  <% end  %>
    </div>
    
</div>

