<ul class="tabnav">
  <li><a href="#tab01">もぎサプリ</a></li>
  <li><a href="#tab02">スライドサプリ</a></li>
</ul>

<div class="tabcontent">
  
  <div id="tab01">
    <% @movies.each do |movie| %>
    
      <div class="box2">
        <div class="movie-title">
          <span class="fa fa-film" style="color:red;"></span>
            <%= link_to movie.title, "home/#{movie.id}" , :style=>"color:#000000;"%>
        </div>
        <% movie.tag_list.add(movie.tag_name.split(","))%>
        <%= render 'home/tag_list', tag_list: movie.tag_list %>
      </div>  
    <% end %>
    
    <%= paginate @movies %>
    <%= link_to "一覧に戻る", root_path, class:"btn btn-outline-primary btn-sm" %>
  </div>
  
  <div id="tab02">
    <% @slides.each do |slide| %>
      <div class="box">
        <div class="slide-title">
          <span class="fa fa-copy" style="color:blue;"></span>
         <%= link_to(slide.title, "/slide/#{slide.id}" , :style=>"color:#000000;") %>
        </div>
        <div>
          <%= link_to image_tag( slide.image.split(",").first ), "/slide/#{slide.id}"  %>
        </div>
        <% slide.tag_list.add(slide.tag_name.split(","))%>
        <%= render 'slide/tag_list', tag_list: slide.tag_list %>
      </div>
    <% end  %>
    
    
    <%= link_to "一覧に戻る", root_path(anchor: 'tab02'), class:"btn btn-outline-primary btn-sm" %>
  </div>
</div>

