
<% @testkai.each do |test| %>
  <h2 class="mb-5"><%="#{test.year}年#{test.month}月#{test.day}日 第#{test.kai}回" %></h2>
<% end %>
<div class="row">
  <div class="col-md-12">
    <table class="table ">
    <thead class="thead-light">
      <tr><th>学校名</th>
      <th>受験人数</th>
      <th>使用教室</th>
      <th>本部</th>
    </thead>

    <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.schoolname %></td>
        <td><%= school.student %></td>
        <td><%= school.classroom %></td>
        <td><%= school.mainroom %></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="4"><%= school.content %></td>
      </tr>
<tr>
    <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th>合計</th>
        <th><%= @schools.all.sum(:student) %></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    </table>
  </div>
</div>

  <div>
    <%= link_to "CSV出力", testkai_end_index_path(format: :csv), class:"btn btn-outline-dark btn-sm" %>
  </div>
  <div class="fixed-top mr-3" style="left:initial;">
      <%= link_to("ログアウト", "/testkai_end_login/logout", {method: :post}) %> 
    </div>
