<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!スマホ対応-->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="title">
          IT'S KEY
      </div>
    <header>
      
    
    <div class="contents">
      <div class="content-left">
        <% if flash[:notice] %>
          <p class="text-success"><%= flash[:notice] %></p>
        <% end %>
        
        <% if flash[:alert] %>
          <p class="text-danger"><%= alert %></p>
        <% end %>
      
        <%= yield %>
      </div>
    
      <nav class="content-right">
        <% if user_signed_in? %>
          <!-- <strong><%= link_to current_user.username, pages_show_path %></strong>  -->
          <strong><%= link_to '詳細', pages_show_path %></strong>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to '新規登録', new_user_registration_path %>
        <% end %>
      </nav>
    </div>
  </body>
</html>    
    
<!--################################################################-->    
<!--<ul class="header-menus">
         if @current_employee 
          <li>
          link_to("logout", "/logout", {method: :post}) 
          </li>
         else 
          <li>
            <!-- link_to("テスト会報告", "/login") %>  
          </li> 
         end   
      </ul>
-->    

<!--
      <div class="header-menus">
        <label for="menu_bar01" class="fa fa-bars fa-2x" style="color:white;"></label> 
        
        <input type="checkbox" id="menu_bar01" class="accordion" />
        <ul id="links01">
          <li><%= link_to "開始報告", login_path %></li>
          <li><%= link_to "終了報告", testkai_end_login_login_form_path %></li>
          <li><%= link_to "トップ",   root_path %></li>
        </ul>
      </div>
      -->